[Unit]
Description=Dynamic user memory watchdog
After=network.target

[Service]
Type=simple
Nice=-1
ExecStart=/usr/sbin/memwatch 90

[Install]
WantedBy=default.target
